<%= form_with(model: chuck_norri, local: true) do |form| %>
  <% if chuck_norri.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chuck_norri.errors.count, "error") %> prohibited this chuck_norri from being saved:</h2>

      <ul>
      <% chuck_norri.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fact %>
    <%= form.text_field :fact %>
  </div>

  <div class="field">
    <%= form.label :knockouts %>
    <%= form.number_field :knockouts %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
