<p id="notice"><%= notice %></p>

<h1>Chuck Norris</h1>

<table>
  <thead>
    <tr>
      <th>Fact</th>
      <th>Knockouts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chuck_norris.each do |chuck_norri| %>
      <tr>
        <td><%= chuck_norri.fact %></td>
        <td><%= chuck_norri.knockouts %></td>
        <td><%= link_to 'Show', chuck_norri %></td>
        <td><%= link_to 'Edit', edit_chuck_norri_path(chuck_norri) %></td>
        <td><%= link_to 'Destroy', chuck_norri, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chuck Norri', new_chuck_norri_path %>
